@font-face {
  font-family: f1;
  src: url(./fonts/font1.woff2) format("woff2");
}
@font-face {
  font-family: f2;
  src: url(./fonts/font2.woff) format("woff");
}
@font-face {
  font-family: f3;
  src: url(./fonts/font3.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  color: rgb(196, 193, 193);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #353535;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  background-color: #121212;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
}
main section.view1 .top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.2;
  pointer-events: none;
}
main section.view1 .top img {
  width: 100%;
}
main section.view1 .bottom {
  background-color: #222222;
  border-radius: 0.7rem;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main section.view1 .bottom p {
  font-family: f1;
  font-size: 0.875rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  line-height: 1.6rem;
}
main section.view1 .bottom .text h1 {
  text-transform: uppercase;
  font-family: f2;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.7rem;
  letter-spacing: 1px;
  color: #cccccc;
}
main section.view1 .bottom .text p {
  font-weight: 300;
  font-size: 1.25rem;
  opacity: 0.6;
  text-transform: none;
  font-family: f3;
  line-height: 2rem;
  letter-spacing: 1px;
}
main section.view1 .bottom .text button {
  width: fit-content;
  border: none;
  outline: none;
  font-size: 0.975rem;
  font-family: f1;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view2 .top,
main section.view2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}
main section.view2 .top .element,
main section.view2 .bottom .element {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  text-align: center;
}
main section.view2 .top .element small,
main section.view2 .bottom .element small {
  font-family: f1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  opacity: 0.7;
}
main section.view2 .top .element h2,
main section.view2 .bottom .element h2 {
  font-family: f2;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.83rem;
  letter-spacing: 1px;
  color: #cccccc;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view3 .top {
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
}
main section.view3 .top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.09;
  pointer-events: none;
}
main section.view3 .top img {
  width: 100%;
}
main section.view3 .bottom {
  background-color: #222222;
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main section.view3 .bottom p {
  font-family: f1;
  font-size: 0.875rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  line-height: 1.6rem;
}
main section.view3 .bottom .text h1 {
  text-transform: uppercase;
  font-family: f2;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.7rem;
  letter-spacing: 1px;
  color: #cccccc;
}
main section.view3 .bottom .text p {
  font-weight: 300;
  font-size: 1.15rem;
  opacity: 0.6;
  text-transform: none;
  font-family: f3;
  line-height: 2rem;
  letter-spacing: 1px;
}
main section.view3-alt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view3-alt .top {
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
}
main section.view3-alt .top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.09;
  pointer-events: none;
}
main section.view3-alt .top img {
  width: 100%;
}
main section.view3-alt .bottom {
  background-color: #222222;
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main section.view3-alt .bottom p {
  font-family: f1;
  font-size: 0.875rem;
  text-transform: uppercase;
}
main section.view3-alt .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  line-height: 1.6rem;
}
main section.view3-alt .bottom .text h1 {
  text-transform: uppercase;
  font-family: f2;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.7rem;
  letter-spacing: 1px;
  color: #cccccc;
}
main section.view3-alt .bottom .text p {
  font-weight: 300;
  font-size: 1.15rem;
  opacity: 0.6;
  text-transform: none;
  font-family: f3;
  line-height: 2rem;
  letter-spacing: 1px;
}
main .heading {
  width: 100%;
  padding: 2rem;
  font-family: f2;
}
main .heading h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #cccccc;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
main section.view4 .card {
  width: 100%;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.2;
  pointer-events: none;
}
main section.view4 .card .top {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.view4 .card .icon {
  background-color: linear-gradient(105deg, #232d2b, #93857c);
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 1px rgba(189, 179, 179, 0.789);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  display: grid;
  place-items: center;
}
main section.view4 .card .bottom {
  background-color: rgba(170, 156, 148, 0.6588235294);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 0 1px rgba(190, 188, 188, 0.696);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
main section.view4 .card .bottom p {
  color: white;
  text-transform: uppercase;
}
main section.view4 .card .bottom p:nth-child(1) {
  font-size: 1.25rem;
  font-family: f2;
  font-weight: 100;
}
main section.view4 .card .bottom p:nth-child(2) {
  font-size: 0.775rem;
  font-family: f1;
  font-weight: 300;
}
main section.view4 .card:nth-child(1) {
  background-image: url("./images/card1.webp");
}
main section.view4 .card:nth-child(2) {
  background-image: url("./images/card2.webp");
}
main section.view4 .card:nth-child(3) {
  background-image: url("./images/card3.webp");
}
main section.view5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .top {
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
}
main section.view5 .top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.2;
  pointer-events: none;
}
main section.view5 .top img {
  width: 100%;
  display: block;
}
main section.view5 .bottom {
  background-color: #222222;
  border-radius: 0.7rem;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .bottom p {
  font-family: f1;
  font-size: 0.875rem;
  text-transform: uppercase;
}
main section.view5 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  line-height: 1.6rem;
  width: 21rem;
}
main section.view5 .bottom .text h1 {
  text-transform: uppercase;
  font-family: f2;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.7rem;
  letter-spacing: 1px;
  color: #cccccc;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem 2rem;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 120%;
  }
  main section.view1 .bottom .text p {
    width: 70%;
    font-size: 1.25rem;
    line-height: 160%;
  }
  main section.view2 {
    flex-direction: row;
    padding: 1rem 2rem;
  }
  main section.view2 small {
    font-size: 0.5rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
    padding: 1rem 2rem;
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .paragraphs {
    display: flex;
    gap: 1.5rem;
    font-family: f3;
  }
  main section.view3 .bottom .paragraphs .text h1 {
    font-size: 2.75rem;
    font-weight: 400;
  }
  main section.view3 .bottom .paragraphs .text p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  main section.view3-alt {
    flex-direction: row;
    padding: 1rem 2rem;
  }
  main section.view3-alt .top,
  main section.view3-alt .bottom {
    width: 50%;
  }
  main section.view3-alt .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3-alt .bottom .paragraphs {
    display: flex;
    gap: 1.5rem;
    font-family: f3;
  }
  main section.view3-alt .bottom .paragraphs .text h1 {
    font-size: 2.75rem;
    font-weight: 400;
  }
  main section.view3-alt .bottom .paragraphs .text p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  main .heading {
    padding: 1.5rem 4rem;
  }
  main .heading h2 {
    font-size: 3.2vw;
    font-weight: 400;
    line-height: 120%;
  }
  main section.view4 {
    flex-direction: row;
    padding: 2rem 2rem;
  }
  main section.view4 .bottom {
    text-align: center;
    font-size: 2rem;
  }
  main section.view5 {
    flex-direction: row;
    padding: 0.5rem 2rem;
  }
  main section.view5 .top,
  main section.view5 .bottom {
    width: 50%;
  }
  main section.view5 .bottom {
    justify-content: start;
    padding: 4rem;
  }
  main section.view5 .bottom p {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 160%;
    font-family: f1;
    font-weight: 300;
  }
  main section.view5 .bottom .text {
    width: 70%;
  }
  main section.view5 .bottom .text h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 120%;
  }
}
/*# sourceMappingURL=style.css.map */